.col-md-auto, .col-md-4, .col-md-8 {
    text-align: right; 
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow-x: auto;
}
.table {
    align-self: start;
}
.pagination {
    align-self: center;
}