{% extends "Prism/layout.html" %}

{% block title %}
Pri2m: Welcome!
{% endblock %}

{% block content %}

<header>
    <h1>Welcome to Prism!</h1>
</header>

<section class="tiles-container">
    <a href='projects' class="tile-link">
        <div class="tile">
            <h2>Projects</h2>
            <p>
                View and search through all projects
            </p>
        </div>
    </a>
    <a href='users' class="tile-link">
        <div class="tile">
            <h2>Users</h2>
            <p>
                View and search through all users
            </p>
        </div>
    </a>

{% endblock %}