{% extends "Prism/layout.html" %}

{% block title %}
Pri2m : {{ project.projectnumber }}
{% endblock %}

{% block content %}
    <h2>{{ project.projectnumber }} - {{ project.projectname }}</h2>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <form action="" method = "POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Submit">

                <div class="row">
                    <div class="col-md-2">
                        
                        <fieldset>
                            <legend>Project Details</legend>
                            <p>{{ form.projectnumber.as_field_group }}</p>
                            <p>{{ form.projectname.as_field_group }}</p>
                            <p>{{ form.stage_id.as_field_group }}</p>
                            <p>{{ form.classification_id.as_field_group }}</p>
                        </fieldset>
                        
                    </div>
                    <div class="col-md-2">
                        
                        <fieldset>
                            <legend>Key Dates</legend>
                            <p>{{ form.projectedstartdate.as_field_group }}</p>
                            <p>{{ form.projectedenddate.as_field_group }}</p>
                            <p>{{ form.startdate.as_field_group }}</p>
                            <p>{{ form.enddate.as_field_group }}</p>
                        </fieldset>

                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-auto">
                                
                                <fieldset>
                                    <legend>Ownership</legend>
                                    <p>{{ form.pi.as_field_group }}</p>
                                    <p>{{ form.leadapplicant.as_field_group }}</p>
                                    <p>{{ form.faculty_id.as_field_group }}</p>
                                </fieldset>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                
                                <fieldset>
                                    <legend>Type</legend>
                                    <p>{{ form.lida.as_field_group }}</p>
                                    <p>{{ form.internship.as_field_group }}</p>
                                </fieldset>

                            </div>
                            <div class="col-md-auto">
                                
                                <fieldset>
                                    <legend>Compliance</legend>
                                    <p>{{ form.dspt.as_field_group }}</p>
                                    <p>{{ form.iso27001.as_field_group }}</p>
                                </fieldset>        

                            </div>
                            <div class="col-md-auto">
                                
                                <fieldset>
                                    <legend>Platform</legend>
                                    <p>{{ form.laser.as_field_group }}</p>
                                    <p>{{ form.irc.as_field_group }}</p>
                                    <p>{{ form.seed.as_field_group }}</p>
                                </fieldset>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        
                        <legend>Project Documents</legend> 
                        <div class="ml-auto">
                            <div class="btn-group-vertical">
                                
                                {% for doc, detail in p_docs.items %}
                                    {% if detail.status == "accepted" %}
                                        <button type="button" class="btn btn-success" onclick=location.href="/project/{{ project.projectnumber }}/docs/{{ detail.url }}">{{ doc }}</button>
                                    {% elif detail.status == "present" %}
                                        <button type="button" class="btn btn-warning" onclick=location.href="/project/{{ project.projectnumber }}/docs/{{ detail.url }}">{{ doc }}</button>
                                    {% else %}
                                        <button type="button" class="btn btn-danger" onclick=location.href="/project/{{ project.projectnumber }}/docs/{{ detail.url }}">{{ doc }}</button>
                                    {% endif %}
                                {% endfor %}
                                <button type="button" class="btn btn-secondary">User Docs</button>
                                <button type="button" class="btn btn-secondary" onclick=location.href="/project/{{ project.projectnumber }}/docs">Project Docs</button>

                            </div>
                        </div>

                        <fieldset>
                            {{ form.pid }}
                            {{ form.validfrom }}
                            {{ form.validto }}
                            {{ form.createdby }}
                        </fieldset>
                </form>
                    </div>

                    <div class="col-md-3">
                        <legend>DAT Commitment</legend>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">FTE %</th>
                                    <th scope="col">Account</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in dat_allocation %}
                                    <tr>
                                        <td style="white-space: nowrap;">{{ item.fromdate | date:"Y-m-d" }}</td>
                                        <td style="white-space: nowrap;">{{ item.todate | date:"Y-m-d" }}</td>
                                        <td>{{ item.fte }}</td>
                                        <td>{{ item.account }}</td>
                                        <td><a href='/project/{{ project.projectnumber }}/remove/datallocation/{{item.projectdatallocationid}}'>x</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <form action="" method="POST">
                            <div class="accordion" id="accordionDatAllocation">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    New DAT Allocation
                                </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionDatAllocation">
                                <div class="accordion-body">
                                    {% csrf_token %}
                                    {{ dat_allocation_form.as_p }}
                                    <!-- <p>
                                        <label for="account">Account code</label>
                                        <input id="account" type="textinput" placeholder="UoL account to charge">
                                    </p> -->
                                    <input class="btn btn-primary" type="submit" value="Add DAT Allocation">
                                </div>
                                </div>
                            </div>
                            </div>
                        </form>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        
                        <legend>Platform Details</legend> 
                        <form action="" method="POST">
                            {% csrf_token %}
                            <fieldset>
                            <div class="input-group">
                                {{ platform_form.platforminfoid }}
                                {{ platform_form.projectplatforminfo }}
                                <input class="btn btn-primary" type="submit" value="Add Platform Item">
                            </div>
                            </fieldset>
                        </form>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Description</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in platforminfo %}
                                    <tr>
                                        <td>{{ item.platforminfoid__platforminfodescription }}</td>
                                        <td>{{ item.projectplatforminfo }}</td>
                                        <td><a href='/project/{{ project.projectnumber }}/remove/platform/{{ item.projectplatforminfoid }}'>x</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-8">
                        
                        {% if notes_filter %}
                            <legend>Notes containing "{{ notes_filter }}" (<a href='/project/{{ project.projectnumber }}'>clear</a>)</legend>
                        {% else %}
                            <legend>Notes</legend> 
                        {% endif %}

                        <div class="row">

                            <div class="col-md-auto">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <fieldset>
                                    <div class="input-group">
                                        {{ new_note.pnote }}
                                        <input class="btn btn-primary" type="submit" value="Add note">
                                    </div>
                                    </fieldset>
                                    <fieldset>
                                        {{ new_note.pnid }}
                                        {{ new_note.projectnumber }}
                                        {{ new_note.created }}
                                        {{ new_note.createdby }}
                                    </fieldset>
                                </form>
                            </div>

                            <div class="col-md-auto">
                                <form action="" method="get">
                                    <div class="input-group">
                                        <input name="search_notes" type="text" class="form-control" placeholder="Search...">
                                        <button class="btn btn-primary" type="submit" id="button-search">Search</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-auto">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                        <th scope="col">Note</th>
                                        <th style="white-space: nowrap;" scope="col">Created</th>
                                        <th style="white-space: nowrap;" scope="col">Created By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for note in notes.object_list %}
                                            <tr>
                                                <td>{{ note.pnote }}</td>
                                                <td style="white-space: nowrap;">{{ note.created | date:"Y-m-d" }}</td>
                                                <td style="white-space: nowrap;">{{ note.createdby }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <div class="pagination">
                                    <ul class="pagination pagination-sm">
                                    {% if notes.has_previous %}
                                        <li class="page-item">
                                            {% if notes_filter %}
                                                <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ notes.previous_page_number }}">&laquo;</a>
                                            {% else %}
                                                <a class="page-link" href="?page={{ notes.previous_page_number }}">&laquo;</a>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">&laquo;</a>
                                        </li>
                                    {% endif %}
            
                                    {% for num in notes.paginator.page_range %}
                                        {% if notes.number == num %}
                                            <li class="page-item active">
                                                {% if notes_filter %}
                                                    <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ num }}">{{ num }}</a>
                                                {% else %}
                                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                {% endif %}
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                {% if notes_filter %}
                                                    <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ num }}">{{ num }}</a>
                                                {% else %}
                                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if notes.has_next %}
                                        <li class="page-item">
                                            {% if notes_filter %}
                                                <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ notes.next_page_number }}">&raquo;</a>
                                            {% else %}
                                                <a class="page-link" href="?page={{ notes.next_page_number }}">&raquo;</a>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">&raquo;</a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}