<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Projects</title>
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
    </script>
</head>

<body>
    <h2>Projects</h2>
    <a href='projectcreate'>New Project</a>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ProjectNumber</th>
            <th scope="col">ProjectName</th>
            <th scope="col">Stage</th>
            <th scope="col">PI</th>
            <th scope="col">Faculty</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href='project/{{ project.projectnumber }}'>{{ project.projectnumber }}</a></td>
                    <td>{{ project.projectname }}</td>
                    <td>{{ project.stage__pstagedescription }}</td>
                    <td>{{ project.pi|default_if_none:"" }}</td>
                    <td>{{ project.faculty__facultydescription }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>