{% extends "Prism/layout.html" %}

{% block title %}
Pri2m: All Projects
{% endblock %}

{% block content %}
    <h2>Projects</h2>

    <form action="/" method="get">
        <div class="input-group mb-3">
            <input name="q" type="text" class="form-control" placeholder="Search..." aria-label="Search for projects" aria-describedby="button-search">
            <button class="btn btn-primary" type="submit" id="button-search">Search</button>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ProjectNumber</th>
            <th scope="col">ProjectName</th>
            <th scope="col">Stage</th>
            <th scope="col">PI</th>
            <th scope="col">Faculty</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href='project/{{ project.projectnumber }}'>{{ project.projectnumber }}</a></td>
                    <td>{{ project.projectname }}</td>
                    <td>{{ project.stage__pstagedescription }}</td>
                    <td>{{ project.pi|default_if_none:"" }}</td>
                    <td>{{ project.faculty__facultydescription }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}